{{#if logged_in}}
  <h1>Your Blog Posts</h1>
  {{#each posts}}
    <div>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <p>{{username}}</p> <!-- Use "username" directly from the post -->
    </div>
  {{/each}}
{{else}}
  <p>You need to be logged in to view this page.</p>
{{/if}}
